@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #0c3c78;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #ff7f3e;
  --cor-hover: #71122c;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: inline-flex;
  justify-content: space-between;
  padding: 1.4rem 17rem;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 600;
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(10px 10px 10px #222);
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }
  .nav-item {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.1rem;
  }
  .open {
    display: block;
  }
}

.mobile-menu-icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 1% 0% 0% 1%;
}

.cabecalho-menu {
  display: flex;
  gap: 80px;
  position: relative;
  align-items: center;
}

.cabecalho-menu-link {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.apresentacao {
  padding: 2% 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 360px;
  flex: 1;
}

.apresentacao-conteudo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao-conteudo-titulo {
  font-size: 36px;
  font-family: var(--fonte-primaria);
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao-conteudo-texto {
  font-size: 24px;
  font-family: var(--fonte-secundaria);
}

.apresentacao-links-subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 24px;
}

.apresentacao-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.apresentacao-links-botoes {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  border: 2px solid var(--cor-terciaria);
}

.apresentacao-links-botoes:hover {
  background-color: var(--cor-hover);
}

.imagem-reduzida {
  max-width: 450px;
  height: auto;
}

img {
  -webkit-filter: drop-shadow(10px 10px 10px #222);
  filter: drop-shadow(10px 10px 10px #222);
}

.rodape {
  color: var(--cor-secundaria);
  background-color: var(--cor-terciaria);
  padding: 14px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: 500;
  margin-top: auto;
}

/* mobile responsiveness */
@media screen and (max-width: 1024px) {
  .apresentacao {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .imagem-reduzida {
    max-width: 100%;
  }

  .apresentacao {
    padding: 2% 5%;
  }
}
